<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Django-Crud</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{% comment %} If User logged in Then in navbar we can see add Record,and logout link {% endcomment %}
         {% if user.is_authenticated  %}  


         <li class="nav-item">
            <a class="nav-link"  href="{% url 'add_record' %}">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'logout' %}">Logout</a>
          </li>
{% comment %} If User is  Not Logged in Then in Navbar we can see only Register and Login  link {% endcomment %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'register' %}">Regster</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  href="{% url 'home' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </nav>